*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: rgb(100, 100, 100);
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boldtext {
  font-family: "Istok Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5rem;
}

.regulartext {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;

}
.container{
  display: flex;
  flex-direction:row;
  width:100%;
  align-items: center;
  justify-content: center;
  height:50rem;
  margin-top: 1rem;
  background-color: aqua;
  gap:5%;
  padding:1rem 5%;

}

.itembox{
  display: flex;
  flex-direction:column;
  width:33%;
  align-items: center;
  justify-content: left;
  height:45rem;
  background-color:azure;
  gap:2rem;
  padding:1rem 3rem;
}

.botton{
  height: 4rem;
  width: 10rem;
  background-color: rgb(0, 132, 255);
  border-radius: .25rem;
  border: none;
  color: aliceblue;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}