*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boldtext {
  font-family: "Istok Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5rem;
}

.regulartext {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
.botton {
  height: 5rem;
  width: 13rem;
  background-color: rgb(0, 132, 255);
  border-radius: 0.5rem;
  border: none;
  color: aliceblue;
  font-family: "Istok Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.container{
  display:grid;
  height:30vw;
  width:50vw;
  grid-template: 1fr 1fr 1fr/1fr 2.75fr 1.25fr;
  align-items: center;
  justify-content: center;
  
}

.imagecontainer{
width: 80%;
height: 80%;
border-radius: 50%;
object-fit: cover;
}

.image1{
  grid-area: image1;
  grid-row: 1;
  grid-column: 1;
  background-color: blanchedalmond;
}
.image2{
  grid-area: image2;
  grid-row: 2;
  grid-column: 1;
  background-color: blanchedalmond;
}
.image3{
  grid-area: image3;
  grid-row: 3;
  grid-column: 1;
  background-color: blanchedalmond;
}

.details1{
  grid-area:details1;
  grid-row: 1;
  grid-column: 2;
  background-color: aqua;
}
.details2{
  grid-area:details2;
  grid-row: 2;
  grid-column: 2;
  background-color: aqua;
}
.details3{
  grid-area:details3;
  grid-row: 3;
  grid-column: 2;
  background-color: aqua;
}

.button1{
  grid-area: button1;
  grid-row: 1;
  grid-column: 3;
  background-color: aquamarine;
  
}
.button2{
  grid-area: button2;
  grid-row: 2;
  grid-column: 3;
  background-color: aquamarine;
}
.button3{
  grid-area: button3;
  grid-row: 3;
  grid-column: 3;
  background-color: aquamarine;
}



