*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boldtext {
  font-family: "Istok Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5vw;
}

.regulartext {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
.botton {
  height: 5rem;
  width: 13rem;
  background-color: rgb(0, 132, 255);
  border-radius: 0.5rem;
  border: none;
  color: aliceblue;
  font-family: "Istok Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.container{
  display:grid;
  height:30vw;
  width:50vw;
  grid-template: 1fr 1fr 1fr/1fr 2.75fr 1.25fr;
  border: 1px solid gray;
  border-radius: 1vw;
  box-shadow: 0 0 5px 5px gray;
  margin: 2vw;
  
}


h3{
  margin-bottom: 1vw;
}
.imagecontainer{
display:flex;
width: 90%;
height: 90%;
border-radius: 50%;
background-color: rgb(255, 205, 205);
overflow: hidden;
}

img{
  object-fit:cover;
  height: 100%;
  width:100%;
}



.image1{
  grid-area: image1;
  grid-row: 1;
  grid-column: 1;
  min-height: 10vw;
  
}
.image2{
  grid-area: image2;
  grid-row: 2;
  grid-column: 1;
  min-height: 10vw;
  
}
.image3{
  grid-area: image3;
  grid-row: 3;
  grid-column: 1;
  min-height: 10vw;
  
}

.details1{
  grid-area:details1;
  grid-row: 1;
  grid-column: 2;
  min-height: 10vw;
  
  padding: 5% 5% 5% 5%;
}
.details2{
  grid-area:details2;
  grid-row: 2;
  grid-column: 2;
  min-height: 10vw;
  
  padding: 5% 5% 5% 5%;

}
.details3{
  grid-area:details3;
  grid-row: 3;
  grid-column: 2;
  min-height: 10vw;
  
  padding: 5% 5% 5% 5%;

}

.button1{
  grid-area: button1;
  grid-row: 1;
  grid-column: 3;
  min-height: 10vw;
  
  
}
.button2{
  grid-area: button2;
  grid-row: 2;
  grid-column: 3;
  min-height: 10vw;
  
}
.button3{
  grid-area: button3;
  grid-row: 3;
  grid-column: 3;
  min-height: 10vw;
  
}

.item{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: left;
  min-height:10vw;
  
}
.center{
  display: flex;
  align-items: center;
  justify-content: left;
}

.center1{
  display: flex;
  align-items: center;
  justify-content: center;
}
