*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.boldtext {
  font-family: "Istok Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5rem;
}

.regulartext {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
