* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.boldtext {
  font-family: "Istok Web", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5rem;
}

.regulartext {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(29, 29, 29);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.imagecontainer {
  
}

.details {
}

img {
}

h2 {
}

p {
}
